node_modules/
dist

# Platform-specific binary
couchbase-native*.node

# Ignore some IDE-specific folder
/.idea
/.run
/.vscode

# Dev stuff
/coverage
*.tar.gz
.loadEnv.sh
*.log

### Couchbase Plugin ###
.cbcache/

### Docs ###
/docs/.vitepress/cache
/docs/.vitepress/build