.is-home .icon > span {
    background-size: 100% 100%;
    background-color: transparent;
    width: 1.2em;
    height: 1.2em;
}

.is-home .icon > span.couchbase-logo {
    border-radius: 9999px;
}

.is-home .icon > span.couchbase-logo {
    border-radius: 9999px;
    background-color: white;
    background-image: url("/couchbase-logo-light.svg");
    color: #EC1218FF;
}

html.dark .is-home .icon > span.couchbase-logo {
    border-radius: 9999px;
    background-color: #EC1218FF;
    background-image: url("/couchbase-logo-dark.svg");
}

.is-home .icon > span.autocompletion {
    height: 29px;
    width: 29px;
    font-size: 0.6em;
    font-weight: bolder;
    color: var(--vp-button-brand-hover-bg);
}

.is-home .icon > span.autocompletion span.prediction {
    /*color: lightblue;*/
    padding-left: 0.1em;
    opacity: 40%;
}

:root {
    --vp-home-hero-name-color: #ea1d24;
    --vp-c-brand-1: #212125;
    --vp-c-brand-2: #3c3c43;
    --vp-c-brand-3: #4b4b54;
    --vp-c-brand-soft: #5d5d67;

    --vp-c-tip-1: var(--vp-c-indigo-1);
    --vp-c-tip-2: var(--vp-c-indigo-2);
    --vp-c-tip-3: var(--vp-c-indigo-3);
    --vp-c-tip-soft: var(--vp-c-indigo-soft);

    --vp-c-note-1: var(--vp-c-indigo-1);
    --vp-c-note-2: var(--vp-c-indigo-2);
    --vp-c-note-3: var(--vp-c-indigo-3);
    --vp-c-note-soft: var(--vp-c-indigo-soft);

    --vp-button-alt-border: var(--vp-c-brand-1);
    --vp-button-alt-text: var(--vp-c-brand-1);
    --vp-button-alt-bg: var(--vp-c-white);
}

.dark {
    --vp-home-hero-name-color: #ea1d24;
    --vp-c-brand-1: #dadae5;
    --vp-c-brand-2: #b0b0b9;
    --vp-c-brand-3: #4b4b54;
    --vp-c-brand-soft: #5d5d67;

    --vp-button-brand-border: var(--vp-c-white);
    --vp-button-brand-text: var(--vp-c-brand-1);
    --vp-button-brand-bg: var(--vp-c-white);

    --vp-button-alt-border: var(--vp-c-brand-1);
    --vp-button-alt-text: var(--vp-c-text-1);
    --vp-button-alt-bg: var(--vp-c-default-2);
}